.header {
  position: sticky;
  top: 0px;
  z-index: 40;
  width: 100%;
  background-color: hsl(var(--background));
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 1400px) {
  .wrapper {
    max-width: 1400px;
  }
}

.wrapper {
  display: flex;
  height: 4rem;
  align-items: center;
}

.wrapper > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

@media (min-width: 640px) {
  .wrapper {
    justify-content: space-between;
  }

  .wrapper > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0px * var(--tw-space-x-reverse));
    margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)));
  }
}

.navContainer {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: flex-end;
}

.navContainer > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.nav {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.nav > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.mobileNavItems {
  margin-right: 1rem;
  display: inline-flex;
  gap: 1.25rem;
}

.iconSize {
  width: 1rem;
  height: 1rem;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.selectedNavItem {
  display: flex;
  height: 2rem;
  align-items: center;
  font-weight: 700;
  color: hsl(var(--primary));
}
