.SiteHeader {
  z-index: 10;

  .Logo {
    margin-left: calc(var(--sp) * -4.7);

    .Image {
      height: 30px;
      width: "auto";
    }
  }

  .MobileNavItemsWidget {
    display: inline-block;
    position: relative;
    height: calc(var(--sp) * 4);

    .MobileNavItemsWrapper {
      position: absolute;
      top: 100%;
      padding-top: calc(var(--sp) * 1);
      right: 0;
      margin-right: -1.2rem;

      z-index: 10;

      .MobileNavItems {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
        background-color: hsl(var(--background));
        padding: 0.6rem 1.2rem;
        border-radius: 1em;
        border: 1px solid hsl(var(--border) / 0.4);
        width: auto;

        a,
        span {
          white-space: nowrap;
        }
      }
    }
  }

  .NavLinks {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: calc(var(--sp));
    margin-right: calc(var(--sp) * -1.5);
    column-gap: var(--sp);
  }

  .MenuButton {
    &:not(:first-child) {
      margin-left: calc(var(--sp) * 2);
    }
  }
}
