.paragraph {
  margin-bottom: 0.5rem;
  max-width: 700px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: hsl(var(--secondary-foreground));
}

.iconMargin {
  margin-right: 0.5rem;
  width: 1rem;
}

.textMargin {
  margin-right: 0.5rem;
}

.arrowIcon {
  width: 1rem;
}
