.gridLayout {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.heading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.textContainer {
  display: flex;
  gap: 0.75rem;
}

.textLink {
  font-weight: 700;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.textLink:hover {
  text-decoration-line: underline;
}

.infoText {
  color: hsl(var(--secondary-foreground));
}

.wrapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.inlineBlock {
  display: inline-block;
}

.divider {
  color: hsl(var(--muted-foreground));
}
