.Button {
  & :global {
    .icon {
      width: 1em;
      height: 1em;
      color: inherit;
    }
  }

  &:not(.IconOnly) :global {
    .icon:has(+ span) {
      margin-right: 0.5em;
    }

    span + .icon {
      margin-left: 0.5em;
    }
  }
}
