.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.05em;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.description {
  max-width: 700px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.sectionHeading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.secondaryText {
  color: hsl(var(--secondary-foreground));
}

.link {
  font-weight: 700;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.link:hover {
  text-decoration-line: underline;
}

.codeExample {
  padding: 1rem;
}

.explanation {
  max-width: 700px;
  color: hsl(var(--secondary-foreground));
}
